$main-color              :#efe6d8 !important;
$comp-color              :#d77e5e !important;
$accent-color            :#000    !important;
$accent-gray-color       :#4d4d4d !important;
$comp-accent-color       :#fff    !important;
$comp-accent-gray-color  :#faf7f4 !important;

// fonts
$heading-font : 'WindSong'         !important;
$title-font   : 'Playfair Display' !important;
$main-font    : 'Roboto'           !important;